<!-- <div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div> -->
  
<h2 class="text-center">Araba Listesi</h2>
  <table class="table">
      <thead>
        <tr>
            <th>Id</th>
            <th>Araç Adı</th>
            <th>Marka</th>
            <th>Renk</th>
            <th>Günlük Fiyat</th>
            <th>Model Yılı</th>
            <th>Özellikler</th>
        </tr>
      </thead>
      <tr *ngFor="let details of cars"
          >
          <td>{{details.carId}}</td>
          <td>{{details.carName}}</td>
          <td>{{details.brandName}}</td>
          <td>{{details.colorName}}</td>
          <td>{{details.dailyPrice}}</td>
          <td>{{details.modelYear}}</td>
          <td>{{details.description}}</td>
          <div class="card-body">
          <button routerLink="/cars/car-detail/{{details.carId}}" type="button" class="btn btn-light">Detaylar</button> 
        </div>
      </tr>
  </table> 
