<!-- <div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div> -->

  <div class="mb-3">
    <label for="filterText" class="form-label">Ürün Ara</label>
    <input type="text" [(ngModel)]="filterText" class="form-control"
    id="filterText" placeholder="Arama ifadesi giriniz.">
  </div>
  
  <div *ngIf="filterText" class="alert alert-danger" >
    {{filterText}} aradınız
  </div>

<h2 class="text-center">Araba Listesi</h2>
  <table class="table table-bordered">
      <thead>
        <tr>
            <th>Id</th>
            <th>Araç Adı</th>
            <th>Marka</th>
            <th>Renk</th>
            <th>Günlük Fiyat</th>
            <th>Kdv'li Günlük Fiyat</th>
            <th>Model Yılı</th>
            <th>Özellikler</th>
            <th>Findeks Puan</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cardetail of carDetails | filterPipe:filterText ">
          <td>{{cardetail.carId}}</td>
          <td>{{cardetail.carName}}</td>
          <td>{{cardetail.brandName}}</td>
          <td>{{cardetail.colorName}}</td>
          <td>{{cardetail.dailyPrice | currency:'₺'}}</td>
          <td>{{cardetail.dailyPrice | vatAdded:18 | currency:'₺'}}</td>
          <td>{{cardetail.modelYear}}</td>
          <td>{{cardetail.description}}</td>
          <td>{{cardetail.findexPoint}}</td>
          <td *ngIf="rentability">Araç Kiralanmış</td>
          <td *ngIf="!rentability"><button routerLink="/rentals/add" type="button" class="btn btn-danger">Kirala</button></td>
          <div class="card-body">
          <button routerLink="/cars/car-detail/{{cardetail.carId}}" type="button" class="btn btn-light">Detaylar</button></div>
          <div class="card-body">
          <button routerLink="/cars/update/{{ cardetail.carId }}" type="button" class="btn btn-light">Düzenle</button> 
        </div>
      </tr>
      </tbody>
      
  </table> 
  