
<div class="card border-warning">
    <h5 class="card-header">Araç Düzenle</h5>
    <div class="card-body">
      <form [formGroup]="colorUpdateForm">
        <div class="mb-3">
          <label for="colorName" class="form-label">Renk</label>
            <div class="col-sm-10">
                <input type="text" id="colorName" formControlName="colorName" class="form-control">
            </div>
        </div>
        
        <div class="mb-3">
          <button (click)="update()" class="btn btn-danger">Kaydet</button>
        </div>
      </form>
    </div>
  </div>
  <div class="btn-goback">
    <button routerLink="/colors" type="button" class="btn btn-xs btn-danger">
      Geri
    </button>
  </div>