
<div class="card border-warning">
    <h5 class="card-header">Araç Düzenle</h5>
    <div class="card-body">
      <form [formGroup]="carUpdateForm">

        <div class="mb-3">
          <label for="brandId" class="form-label">Marka</label>
          <select formControlName="brandId" class="form-control">
              <option *ngFor="let brand of brands" selected="brand.brandId" [ngModel]="cars.brandId" [ngValue]="brand.brandId" class="option">
                {{ brand.brandName }}
              </option>
          </select>
        </div>
        <div class="mb-3">
          <label for="colorId" class="form-label">Renk</label>
          <select formControlName="colorId"   class="form-control">
              <option *ngFor="let color of colors" selected="color.colorId" [ngModel]="cars.colorId" [ngValue]="color.colorId"  class="option">
                {{ color.colorName }}
              </option>
          </select>
        </div>
        <div class="mb-3">
          <label for="carName" class="form-label">Araba Adı</label>
          <input id="carName" formControlName="carName" type="text" [ngModel]="cars.carName" class="form-control" />
        </div> 
        <div class="mb-3">
          <label for="modelYear" class="form-label">Model Yıl</label>
          <input id="modelYear" formControlName="modelYear" type="number" [ngModel]="cars.modelYear" class="form-control" />
        </div>
        
        <div class="mb-3">
          <label for="dailyPrice" class="form-label">Günlük Ücret  </label>
          <div class="input-group">
            <input id="dailyPrice" formControlName="dailyPrice" type="number" [ngModel]="cars.dailyPrice" class="form-control" />
            <!-- <span class="input-group-text">.00</span>
            <span class="input-group-text">TL</span> -->
          </div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <input id="description" formControlName="description" type="text" [ngModel]="cars.description" class="form-control" />
        </div>
        
        <div class="mb-3">
          <button (click)="update()" class="btn btn-danger">Kaydet</button>
        </div>
      </form>
    </div>
  </div>